.background {
  display: flex;
  justify-content: center;
  &__gradient {
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-mobile.jpg);
    background-size: cover;
    text-align: center;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-mobile@2x.jpg);
    }
    @media (min-width: 768px) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-tablet.jpg);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/background-tablet@2x.jpg);
      }
    }
    @media (min-width: 1200px) {
      max-width: 1600px;
      padding-top: 94px;
      padding-bottom: 94px;
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background.jpg);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/background@2x.jpg);
      }
    }
  }
  &__h1 {
    font-family: $fontFamily-roboto;
    font-weight: $fontWeight-huge;
    color: $color-neutral;
    font-size: 1.62rem;
    line-height: 2.62rem;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 106px;
    padding-bottom: 30px;
    @media (min-width: 769px) {
      font-size: 2.75rem;
      line-height: 3.75rem;
    }
  }
}
