.companies {
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
  list-style: none;
  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__heading {
    font-family: $fontFamily-roboto;
    font-weight: $fontWeight-big;
    font-size: 2.25rem;
    line-height: 2.625rem;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: auto;
  }
}
.company-icon {
  border: 1px solid $color-svg-icon;
  fill: $color-svg-icon;
  transition-duration: $transitionDuration-default;
  transition-timing-function: $transitionTiming-default;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  transition-property: fill;
  &:hover,
  &:active,
  &:focus {
    fill: $color-main;
    color: $color-main;
    border: 1px solid $color-main;
  }
}
