.filter {
  padding-top: 94px;
  &__btn {
    list-style: none;
    gap: 8px;
    justify-content: center;
    width: $width-container;
    display: flex;
    margin: auto;
    padding-right: 30px;
  }
  &__btn button {
    padding-top: 6px;
    padding-bottom: 6px;
    background: $color-svg-bg;
    border-radius: 4px;
    font-family: $fontFamily-roboto;
    font-weight: $fontWeight-normal;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
  }
  &__btn-padding {
    padding-left: 22px;
    padding-right: 22px;
  }
  &__btn-hfa {
    transition-property: $color-background;
    transition-duration: $transitionDuration-default;
    transition-timing-function: $transitionTiming-default;
    &:hover,
    &:focus,
    &:active {
      background-color: $color-main;
      color: $color-neutral;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}
