.footer {
  background-color: $color-background;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: $color-neutral;
  padding-top: 60px;
  padding-bottom: 60px;
  & a {
    text-decoration: none;
  }
  & li {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
  }
  &__container {
    margin: auto;
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;
      margin: auto;
    }
  }
  &__padding {
    padding-bottom: 8px;
  }
  &__join-us {
    font-family: $fontFamily-roboto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 20px;
    color: $color-neutral;
    @media (min-width: 1200px) {
      justify-content: left;
    }
    &__style {
      font-weight: $fontWeight-big;
      font-size: 0.875rem;
      line-height: 1rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      padding-top: 60px;
      padding-bottom: 20px;
      text-align: center;
      @media (min-width: 1200px) {
        padding-top: 0px;
        text-align: left;
      }
      @media (min-width: 768px) {
        padding-top: 0px;
      }
    }
  }
  &__news {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__logo-color {
    color: $color-neutral;
  }
  &__address {
    & li {
      display: flex;
      justify-content: center;
      @media (min-width: 1200px) {
        justify-content: left;
      }
    }
    & a {
      font-size: 0.875rem;
      line-height: 1.5rem;
      letter-spacing: 0.03em;
      color: $color-adress;
    }
  }
  &__imput {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    @media (min-width: 1200px) {
      padding: 0px;
    }
  }
  &__email-center {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__ul-position {
    @media (min-width: 1200px) {
      padding-top: 30px;
      padding-left: 12px;
    }
  }
  &__email-style {
    width: 100%;
    border: 1px solid $color-adress-v2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding: 15px 16px 15px 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: $color-adress;
    @media (min-width: 768px) {
      width: 450px;
    }
  }
  &__email-input {
    padding-left: 64px;
    padding-right: 12px;
  }
  &__grid {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.find-us-icons {
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
  }
  &--padding {
    @media (min-width: 1200px) {
      padding-top: 30px;
      padding-left: 12px;
    }
  }
  &__style {
    display: inline-block;
    padding: 12px 12px 12px 12px;
    fill: $color-neutral;
    cursor: pointer;
    background-color: $color-background-v3;
    border-radius: 50%;
    line-height: 0;
    margin-right: 8px;
    transition-property: fill, $color-background;
    transition-duration: $transitionDuration-default;
    transition-timing-function: $transitionTiming-default;
    &:hover,
    &:focus,
    &:active {
      background-color: $color-main;
      border-radius: 50%;
    }
  }
}
