.info-section {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  & h3 {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
  }
  & p {
    font-family: $fontFamily-roboto;
    font-weight: $fontWeight-small;
    font-size: 0.875rem;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $color-second-font;
    padding-top: 10px;
  }
  &__list-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-right: 0px;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
      margin: auto;
    }
    & li {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__svg-background {
    width: 100%;
    background-color: $color-svg-bg;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
