.about-us {
  padding-bottom: 94px;
  margin: auto;

  @media (max-width: 1199px) {
    display: none;
  }

  & h2 {
    font-weight: $fontWeight-big;
    font-family: $fontFamily-roboto;
    font-size: 2.25rem;
    line-height: 2.62rem;
    padding-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: auto;
  }
  &__display {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 30px;
    position: relative;
    list-style: none;
    height: 294px;
  }
  &__overlay {
    position: relative;
    background-color: $color-background-v2;
    bottom: 73px;
    overflow: hidden;
    color: $color-neutral;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-weight: $fontWeight-big;
    font-family: $fontFamily-roboto;
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
