$color-main: #2196f3;
$color-second-font: rgba(117, 117, 117, 1);
$color-second-font-v2: rgba(117, 117, 117, 0.5);
$color-background: rgba(47, 48, 58, 1);
$color-background-v2: rgba(47, 48, 58, 0.8);
$color-background-v3: rgba(255, 255, 255, 0.1);
$color-transform: #064a81;
$color-neutral: #fff;
$color-svg-bg: rgba(245, 244, 250, 1);
$color-svg-icon: rgba(175, 177, 184, 1);
$color-adress: rgba(255, 255, 255, 0.6);
$color-adress-v2: rgba(255, 255, 255, 0.3);
$color-modal: rgba(0, 0, 0, 0.5);
$color-modal-v2: rgba(0, 0, 0, 0.2);
$color-modal-v3: rgba(0, 0, 0, 0.1);
$color-modal-input: rgba(33, 33, 33, 0.2);
$color-modal-input-v2: rgba(33, 33, 33, 1);
$color-header-underline: rgba(236, 236, 236, 1);
$color-box-list-border: #ececec;

$fontFamily-raleway: "Raleway";
$fontFamily-roboto: "Roboto";
$fontWeight-small: 400;
$fontWeight-normal: 500;
$fontWeight-big: 700;
$fontWeight-huge: 900;

$width-container: 1200px;
$transitionDuration-default: 250ms;
$transitionTiming-default: cubic-bezier(0.4, 0, 0.2, 1);